In [1]:
import pandas as pd
from fbprophet import Prophet

In [2]:
df = pd.read_csv("C:/Users/RAJ BATHANI/Downloads/TimeSeries Datasets/AMGN_close.csv")

In [3]:
df.columns = ['ds','y']
df.head()

       ds          y
0  1/2/13  89.150002
1  1/3/13  88.589996
2  1/4/13  88.980003
3  1/7/13  88.529999
4  1/8/13  88.150002

In [4]:
df['ds'] = pd.to_datetime(df['ds'])
df.head()

          ds          y
0 2013-01-02  89.150002
1 2013-01-03  88.589996
2 2013-01-04  88.980003
3 2013-01-07  88.529999
4 2013-01-08  88.150002

In [6]:
m = Prophet()
m.fit(df)
future = m.make_future_dataframe(periods=21, freq='B')
forecast = m.predict(future)

INFO:numexpr.utils:NumExpr defaulting to 4 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [7]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2013-01-02,90.756915,81.678616,104.241153,90.756915,90.756915,1.961665,1.961665,1.961665,0.297091,0.297091,0.297091,1.664574,1.664574,1.664574,0.0,0.0,0.0,92.718580
1,2013-01-03,90.835065,81.292988,104.911507,90.835065,90.835065,1.795251,1.795251,1.795251,0.272172,0.272172,0.272172,1.523079,1.523079,1.523079,0.0,0.0,0.0,92.630316
2,2013-01-04,90.913216,81.169679,103.986822,90.913216,90.913216,1.870472,1.870472,1.870472,0.474375,0.474375,0.474375,1.396097,1.396097,1.396097,0.0,0.0,0.0,92.783688
3,2013-01-07,91.147668,81.287439,104.720985,91.147668,91.147668,1.477661,1.477661,1.477661,0.383310,0.383310,0.383310,1.094351,1.094351,1.094351,0.0,0.0,0.0,92.625329
4,2013-01-08,91.225819,81.270835,104.075248,91.225819,91.225819,1.419224,1.419224,1.419224,0.403130,0.403130,0.403130,1.016094,1.016094,1.016094,0.0,0.0,0.0,92.645043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778,2020-01-23,204.720621,193.608941,215.960244,204.716394,204.720621,0.127487,0.127487,0.127487,0.272172,0.272172,0.272172,-0.144685,-0.144685,-0.144685,0.0,0.0,0.0,204.848108
1779,2020-01-24,204.755125,193.894052,216.071864,204.750251,204.755125,0.176412,0.176412,0.176412,0.474375,0.474375,0.474375,-0.297963,-0.297963,-0.297963,0.0,0.0,0.0,204.931537
1780,2020-01-27,204.858635,194.019301,215.368353,204.842636,204.875485,-0.446861,-0.446861,-0.446861,0.383310,0.383310,0.383310,-0.830170,-0.830170,-0.830170,0.0,0.0,0.0,204.411774
1781,2020-01-28,204.893139,193.335121,215.746217,204.868879,204.921017,-0.623961,-0.623961,-0.623961,0.403130,0.403130,0.403130,-1.027091,-1.027091,-1.027091,0.0,0.0,0.0,204.269178
1782,2020-01-29,204.927642,191.654142,215.189107,204.894169,204.962317,-0.933388,-0.933388,-0.933388,0.297091,0.297091,0.297091,-1.230479,-1.230479,-1.230479,0.0,0.0,0.0,203.994254

In [8]:
forecast[['ds','yhat_lower','yhat_upper','yhat']].tail(21)

             ds  yhat_lower  yhat_upper        yhat
1762 2020-01-01  194.645484  218.645826  206.206504
1763 2020-01-02  194.730160  217.588250  206.048640
1764 2020-01-03  194.795393  217.483506  206.132744
1765 2020-01-06  193.422552  217.077276  205.774152
1766 2020-01-07  194.464094  217.109235  205.731356
1767 2020-01-08  194.256830  215.970877  205.574054
1768 2020-01-09  194.759499  217.003812  205.507672
1769 2020-01-10  193.735507  217.346443  205.676443
1770 2020-01-13  194.997874  217.231171  205.513099
1771 2020-01-14  193.596417  217.391436  205.510958
1772 2020-01-15  194.557234  217.564462  205.380353
1773 2020-01-16  194.090572  216.766646  205.326131
1774 2020-01-17  194.228800  216.617836  205.492290
1775 2020-01-20  194.208677  216.352215  205.235511
1776 2020-01-21  192.382883  216.426784  205.176512
1777 2020-01-22  193.094551  216.742375  204.978477
1778 2020-01-23  193.608941  215.960244  204.848108
1779 2020-01-24  193.894052  216.071864  204.931537
1780 2020-01-27  194.019301  215.368353  204.411774
1781 2020-01-28  193.335121  215.746217  204.269178
1782 2020-01-29  191.654142  215.189107  203.994254